.center{
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
}

.particles{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  down: 0;
  z-index: -1;
}